.icon {
  aspect-ratio: 1 / 1;
  width: 3rem;

  transition-property: transform;
  transition-duration: $transition-duration-1;
  transition-timing-function: $slow-ease-in;

  color: $gray-600;

  &:hover {
    color: $gray-800;
    transform: scale(1.2);
  }
}
