.container-bb858f4 {
  display: grid;
  gap: 1rem;
}

@media (min-width: $screen-lg) {
  .container-bb858f4 {
    // color: red;
    // gap: 0;
    grid-template-columns: 1fr 1fr 1fr;
    // grid-auto-rows: minmax(0, 1fr);
    // grid-template-rows: auto;
    // grid-auto-flow: column;
    // grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}


.container-5f5ac7d {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
}

@media (min-width: $screen-lg) {
  .container-5f5ac7d {
    grid-template-columns: repeat(2, 1fr);
  }
}


.container-e69ad7d {
  //layout
  display: grid;
  height: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;

  // color
  background-color: $gray-200;

  // transitions
  transition-property: filter;
  transition-duration: $transition-duration-1;
  transition-timing-function: $transition-timing-function-1;

  &:hover {
    @extend .drop-shadow;
  }
}

.image-e69ad7d {
  aspect-ratio: 1 / 1;
  height: 6rem;
}


.icon-aeb3970 {
  aspect-ratio: 1 / 1;
  width: 3rem;
  color: $gray-400;
}


.back-c104f9b {
  background-color: red;
  transform: translateX(10px);
  color: orange;
}


.image_landscape-dcb1d9e {
  object-fit: cover;
  object-position: center;
  width: 100%;
  aspect-ratio: 4 / 3;
}

.image_portrait-dcb1d9e {
  object-fit: cover;
  object-position: center;
  width: 100%;
  aspect-ratio: 3 / 4;
}

.image_square-dcb1d9e {
  object-fit: cover;
  object-position: center;
  width: 100%;
  aspect-ratio: 1 / 1;
}

@media (min-width: $screen-lg) {
  .image_landscape-dcb1d9e {
    grid-column: span 2 / span 2;
  }

  .image_portrait-dcb1d9e {
    height: 100%;
  }
}


.container-c4c9cab {
  display: grid;
  grid-auto-flow: row dense;
  gap: 1rem;
  width: 100%;
}

@media (min-width: $screen-md) {
  .container-c4c9cab {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: $screen-lg) {
  .container-c4c9cab {
    grid-template-columns: repeat(3, 1fr);
  }
}


.container-9c31222 {
  display: grid;
  grid-auto-rows: auto auto 1fr;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: $gray-200;
}

.image-9c31222 {
  aspect-ratio: 16 / 9;
  width: 100%;
  object-fit: fill;

  transition-property: transform;
  transition-duration: $transition-duration-1;
  transition-timing-function: $transition-timing-function-1;

  transform: scale3d(1.05, 1.05, 1.05);

  &:hover {
    transform: scale3d(1, 1, 1);
  }
}

.link_container-9c31222 {
  display: grid;
  align-self: flex-end;
  justify-self: end;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}


.container-41e96ae {
  display: grid;
  gap: 1rem;
}

@media (min-width: $screen-lg) {
  .container-41e96ae {
    grid-template-columns: repeat(2, 1fr);
  }
}


.hell-f209d82 {
  color: blue;
}


.header_1-d9dfbc7 {
  font-size: 3rem;
  line-height: 1;

  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.header_2-d9dfbc7 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.header_3-d9dfbc7 {
  font-size: 1.5rem;
  line-height: 2rem;

  margin-bottom: 0.5rem;
  margin-top: 1rem;
}
