.container {
  //layout
  display: grid;
  height: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;

  // color
  background-color: #e5e7eb;

  // transitions
  transition-property: filter;
  transition-duration: $transition-duration-1;
  transition-timing-function: $transition-timing-function-1;

  &:hover {
    @extend .drop-shadow;
  }
}

.image {
  aspect-ratio: 1 / 1;
  height: 6rem;
}

.header {
  @extend .text-2xl;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}
