.container {
  display: grid;
  grid-template-areas: "cover_photo" "title";
  background: transparent;
  
  @media (min-width: $screen-sm) {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  @media (min-width: $screen-md) {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  @media (min-width: $screen-lg) {
    grid-template-areas: "title cover_photo";
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.cover_photo_container {
  width: 100%;
  grid-area: cover_photo;
  place-self: center;
  padding: 2rem;
  z-index: 10;
  pointer-events: none;
}

.title_container {
  container-type: inline-size;
  container-name: title-container;

  width: 100%;
  grid-area: title;
  align-self: end;

  display: grid;
  grid-auto-rows: auto;
  row-gap: 0.5rem;
}

.welcome {
  position: relative;

  font-size: 1rem;
  text-transform: uppercase;
  justify-self: center;

  &:after {
    position: absolute;
    content: "";
    left: 0%;
    background-color: white;
    width: 100%;
    height: 100%;
    border-left-color: black;
    animation:
      typing 1s steps(15, end) forwards,
      blinking-cursor 0.5s step-end 4;
  }

  @container title-container (min-width: 450px) {
    & {
      font-size: 1.25rem;
    }
  }

  @container title-container (min-width: 600px) {
    & {
      font-size: 1.5rem;
    }
  }

  @container title-container (min-width: 800px) {
    & {
      font-size: 2rem;
    }
  }

  @media (min-width: $screen-lg) {
    justify-self: start;
  }
}

.designation {
  position: relative;
  justify-self: center;
  font-size: 1.3rem;
  text-transform: uppercase;

  &:after {
    position: absolute;
    content: "";
    left: 0%;
    background-color: white;
    width: 100%;
    height: 100%;
    border-left-color: black;
    animation:
      typing 2s steps(27, end) forwards 2s,
      blinking-cursor 0.5s step-end infinite 2s;
  }

  @container title-container (min-width: 450px) {
    & {
      font-size: 1.5rem;
    }
  }

  @container title-container (min-width: 600px) {
    & {
      font-size: 2rem;
    }
  }

  @container title-container (min-width: 800px) {
    & {
      font-size: 2.5rem;
    }
  }

  @media (min-width: $screen-lg) {
    & {
      justify-self: start;
    }
  }
}

.details {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: justify;

  @container title-container (min-width: 450px) {
    & {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  @container title-container (min-width: 600px) {
    & {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }

  @media (min-width: $screen-lg) {
    padding-left: 0;
    padding-right: 0;
  }
}

.contacts {
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 0.5rem;

  @container title-container (min-width: 450px) {
    & {
      grid-template-columns: auto auto;
      row-gap: 0;
      justify-content: center;
      column-gap: 1rem;
    }
  }

  @media (min-width: $screen-lg) {
    justify-content: end;
  }
}
