.header_1 {
  font-size: 3rem;
  line-height: 1;

  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.header_2 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.header_3 {
  font-size: 1.5rem;
  line-height: 2rem;

  margin-bottom: 0.5rem;
  margin-top: 1rem;
}
