.container {
  display: grid;
  gap: 1rem;
}

.about_card_container {
  display: grid;
  row-gap: 1rem;
}

.hr {
  height: 1px;
  color: $gray-200;
  border-width: 1px;
}

@media (min-width: $screen-lg) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .hr {
    border-width: 0;
  }
}
