.container {
  display: grid;
  gap: 1rem;
}

@media (min-width: $screen-lg) {
  .container {
    // color: red;
    // gap: 0;
    grid-template-columns: 1fr 1fr 1fr;
    // grid-auto-rows: minmax(0, 1fr);
    // grid-template-rows: auto;
    // grid-auto-flow: column;
    // grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
